@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}
#navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    
    
}
.navbar .navbar-brand {
    font-size: 25px;
    font-weight: 800;
    color: green;
}
#navbarSupportedContent a {
    color: blue;
    border-bottom: 2px solid transparent;
    font-size: 17px;
}
#navbarSupportedContent a:hover {
    border-bottom: 2px solid green;
}
#navbarSupportedContent button {
    width: 5rem;
    border-radius: 5rem;
}
section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home {
   background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url(organic.webp);
   background-size: cover;
   background-position: center;
   flex-direction: column;

}
#home h1{
    font-size: clamp(32px,8vw,100px);
    color: white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 1.2;
    word-break: break-word;
    
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                  0px 3px 0px #ccc,
                  0px 4px 0px #ccc,
                    0px 5px 0px #ccc,
                     0px 6px 0px #ccc,
                      0px 7px 0px #ccc;
}
#home p {
    font-size: 18px;
    color: white;
}
#home .input-group {
    width: 40%;
}
@media (max-width:576px) {
    #home.input-group{
        width: 90%;
    }
    
}
@media (max-width:576px) {
    #home .form-control {
        width: 100%;
        font-size: 16px;
        margin-bottom: 10px;
        border-radius: 5rem;
    }
    #home .signin {
        width: 100%;
        border-radius: 5rem;
    }
}

    
 
.signin {
    background-color: green !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);

    
}
#About {
    background-color: white;

}
#About h1 {
    font-weight: 800;
    font-size: 50px;
}
#About p {
    color: black;
}
#About img {
    max-width: 100%;
     height: auto;
    display: block;
    margin: 0 auto;
}
#product {
    background-color:  #e5e5e5;
   
}
#product h1 {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#product img {
    width: 250px;
    height: 250px;
}
.card {
    width: 250px;
    height: 400px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3);
                inset: 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
}
.card:hover {
    box-shadow: inset 5px 5px 10px rgba(0,0,0,.3);
                inset: -4px -4px 10px white;
                transition: .2s;
}
#contact img {
    height: 30rem;
    width: 40rem;;
}
form {
    display: flex;
    flex-direction: column;
}
#contact input {
    margin: 10px 0px;
}
#contact textarea {
     margin: 10px 0px;

}
footer {
    width: 100%;
    height: 30px;
    background-color: black;
    margin-top: -30px;
    text-align: center;
    color: white;
    padding: 3px;
}